{% extends 'base.html' %}

{% block title %} Olá {% endblock title %}
{% block navbar %} {% include 'partials/navbar.html' %} {% endblock  %}

{% block main %}

    {% comment %} <div class="row">
        <div class="col-sm">
            One of three columns
        </div>

        <div class="col-sm">
            {{usuario.first_name}}
            <a href="{% url 'funcionario:list' %}">Gerenciar funcionários</a>
        </div>
        
        <div class="col-sm">
            <a href="{% url 'logout' %}">Sair</a>

            
            {% if usuario.empresa %}
                <h2>{{usuario.empresa.nome}}</h2>
                 <a href="{% url 'empresa:edit' usuario.empresa.id %}">Editar Empresa</a>
            {% else %}
                <a href="{% url 'empresa:create' %}">Criar Empresa</a>    
            {% endif %}
                

        </div>
    </div> {% endcomment %}


{% endblock main %}