{% extends 'base.html' %}

{% block title %} Cadastrar Documento {% endblock title %}
{% block navbar %} {% include 'partials/navbar.html' %} {% endblock  %}

{% block main %}

<h1 class="text-center mt-5">Formulário: cadastro de documento</h1>
<div class="d-flex justify-content-center mt-5">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        {{form.as_p}}
        <button class="btn btn-dark">Cadastrar documento</button>
    </form>
</div>


{% endblock main %}